<div style="width: 1600px; height: 900px; position: relative; background: #1B1F38">
  <div style="left: 725px; top: 200px; position: absolute; text-align: center; color: white; font-size: 40px; font-family: Lexend; font-weight: 500; word-wrap: break-word">Sign up</div>
  <div style="left: 627px; top: 280px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Lexend; font-weight: 400; word-wrap: break-word">Enter email address for verification.</div>
  <div style="left: 530px; top: 375px; position: absolute; color: white; font-size: 20px; font-family: Lexend; font-weight: 400; word-wrap: break-word">Email</div>
  <div style="width: 540px; height: 60px; left: 530px; top: 414px; position: absolute">
    <div style="width: 540px; height: 60px; left: 0px; top: 0px; position: absolute; background: #262B49; border-radius: 5px"></div>
    <div style="left: 32.40px; top: 17px; position: absolute; color: #535A82; font-size: 20px; font-family: Lexend; font-weight: 500; word-wrap: break-word">Email</div>
  </div>
  <div style="width: 123px; height: 47px; left: 947px; top: 494px; position: absolute; opacity: 0.50">
    <div style="width: 123px; height: 47px; left: 0px; top: 0px; position: absolute; background: #1B1F38; border-radius: 5px; border: 1px #00F9FF solid"></div>
    <div style="left: 32px; top: 11px; position: absolute; text-align: center; color: #00F9FF; font-size: 20px; font-family: Lexend; font-weight: 500; word-wrap: break-word">Verify</div>
  </div>
</div>